<div style="margin: 20px">
  <h3>Dados Armazenados</h3>
  <table>
    <tr>
      <th>Data</th>
      <th>Valor X</th>
      <th>Valor Y</th>
      <th>Ações</th>
    </tr>
    <tr *ngFor="let point of dataPoints; let i = index">
      <td class="celula">{{ point.date | date: 'dd/MM/yyyy' }}</td>
      <td class="celula">{{ point.valueX }}</td>
      <td class="celula">{{ point.valueY }}</td>
      <td class="celula">
        <button class="button-delete" (click)="remove(i)">X</button>
      </td>
    </tr>
    @if (dataPoints.length === 0) {
    <tr>
      <td colspan="4">Nenhum dado armazenado</td>
    </tr>
    }
  </table>
</div>