<div style="margin: 20px">
  <h3>Inserir Dados</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div style="display: flex; flex-direction: column; align-items: stretch; width: 200px; gap: 10px;">

      <label for="date">Data:</label>
      <input id="date" type="date" formControlName="date" class="field">
      <div class="invalid-feedback"
        *ngIf="form.get('date')?.errors && (form.get('date')?.touched || form.get('date')?.dirty)">
        <div *ngIf="form.get('date')?.errors?.['required']">Por favor insira uma data válida</div>
      </div>

      <label for="valueX">Valor X:</label>
      <input id="valueX" type="number" formControlName="valueX" class="field">
      <div class="invalid-feedback"
        *ngIf="form.get('valueX')?.errors && (form.get('valueX')?.touched || form.get('valueX')?.dirty)">
        <div *ngIf="form.get('valueX')?.errors?.['required']">Por favor insira um valor</div>
        <div *ngIf="form.get('valueX')?.errors?.['min']">Por favor insira um valor igual ou maior que zero</div>
      </div>

      <label for="valueY">Valor Y:</label>
      <input id="valueY" type="number" formControlName="valueY" class="field">
      <div class="invalid-feedback"
        *ngIf="form.get('valueY')?.errors && (form.get('valueY')?.touched || form.get('valueY')?.dirty)">
        <div *ngIf="form.get('valueY')?.errors?.['required']">Por favor insira um valor</div>
        <div *ngIf="form.get('valueY')?.errors?.['min']">Por favor insira um valor igual ou maior que zero</div>
      </div>

      <button class="button" type="submit">Registrar</button>
    </div>
  </form>
</div>